@charset "utf-8";
@import "normalize";

$bg: lighten(#eaddc0, 10%);
$tint: #24286b;
$text: lighten(#000, 20%);
$links: lighten($tint, 10%);
$layout-margin: 1.2em;
$header-color: $bg;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $bg;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: $text;
}

.highlight {
    padding: 12px;
    border-radius: 5px;
    font-size: 0.9rem;
    max-width: 800px;
    overflow: auto;
}

a {
  color: $links;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-size:3.5rem;
}

h1, h2 {
  color: $links;
  a {
    color: $links;
    &:hover {
      text-decoration: none;
      color: $tint;
    }
  }
}

#footer {
  padding: 0 $layout-margin;
  color: $tint;
  text-align: right;
  h1 {
    margin: 0;
    line-height: 1.8em;
  }
}

#wrapper, #footer {
  max-width: 1080px;
  margin: 0 auto;
}

#wrapper {
  display: flex;

  #main {
    flex: 8 0;
    margin: $layout-margin;
  }

  aside {
    flex: 1 1 auto;
    margin: $layout-margin;
  }
}

.title-date {
  font-size: 0.3em;
  font-weight: normal;
  margin-top: 0.5em;
}

.page-prev { float:left; }
.page-next { float:right; }

.page-prev, .page-next {
  background: $tint;
  padding: 0.3rem;
}

.page-prev a, .page-next a {
  color: $bg;
}
