---
title: About
---
<h2>About Teebot</h2>

<h3>Who I am</h3>
<p>My name is Thibaut Nguyen. Thibaut is often mispronounced "Tee Bot" by English speaking people which I always found kind of cool. 
I'm human after all (get the Daft Pun?) but I love bots. My twitter handle is also <a href="https://twitter.com/teebot">@teebot</a>.
</p>

<h3>What I do</h3>
<p>I work at <a href="https://www.showpad.com">Showpad</a> as Lead Frontend Developer. 

Showpad is a content activation and sales enablement platform. We make content incredibly easy to find, present, share, and measure.

My role is to make sure we Showpad developers have a continued conversation about the Web Platform and come up with our own good practices.</p>